@charset "utf-8";

.FlexRow {
    display: flex;
    flex-direction: row;
  }
.TitleBox {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  
  /* 縦並びの横文字 */
  #MainTextBox {
    width: 150px;
    height: 860px;
    position: relative;
  }
  
  .MainText {
    color: #de6490;
    font-size: 128px;
    font-family: "Kiwi Maru";
    transform: rotate(-90deg);
    white-space: nowrap;
    position: absolute;
    left: -180px;
    bottom: 180px;
  }
  .ThreeChar {
    left: -112px;
    bottom: 112px;
  }
  
  /* 二重点線 */
  .DottedLine {
    width: 16px;
    height: 860px;
    background-size: 4px 24px;
    background-image: linear-gradient(to bottom, #de6490 12px, transparent 12px);
    background-repeat: repeat-y;
  }
  
  /* 縦文字 */
  .TextVertical {
    color: #de6490;
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin: 4rem 1rem 0 0;
  }
  
  /* carousel */
  #CarouselBox {
    width: 85%;
    height: 860px;
    position: relative;
    border-radius: 36px;
    overflow: hidden;
  }
  
  #CarouselBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .Hidden {
    display: none;
  }
  
  /* crousel progressbar */
  progress {
    width: 79%;
    height: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-appearance: none;
  }
  
  ::-webkit-progress-value {
    background-color: #de6490;
  }
  
  /* crousel bottun */
  .CarouselBtnBox {
    width: 18%;
    background-color: #f5f5f5;
    border-top-left-radius: 30px;
    justify-content: right;
    z-index: 3;
    position: absolute;
    right: 0;
    top: 820px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
  
  .CarouselBtn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    outline: none;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: #de6490 2px solid;
    background-color: #ffffff;
    margin: 20px 8px 4px 8px;
  }
  
  .BtnActive {
    background-color: #de6490;
  }


/* carousel before  */

.carousel {
    width: 73%;
    height: auto;
    /* margin: 0 0 0 auto; */
}

.findimg_one {
    width: 100%;
    height: auto;
}

.small_font {
    margin: 5% 0.67% 0 0;
    width: 0.85%;
    height: 83%;
}

.Pink_border {
    margin: 0 1.3% 0 0;
    width: 0.8%;
    height: auto;
}

.carousel_font {
    margin: 10% 0 0 auto;
    width: 7%;
    height: 0.49%;
}


/* .Infomation,
.kinds {
    margin: 0 5%;
} */

main {
    margin: 0 5%;
    /* overflow: hidden; */
}

/* ------------------------------------------------ */

.Infomation {
    width: 55rem;
    height: 15rem;
    margin: 65px 0 200px auto;
    /* overflow: hidden; */
}

.Infomation>.info {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.info>.w-200 {
    width: 200%;
    height: 100%;
}

.button {
    position: relative;
    left: 100%;
    bottom: 75%;
    width: 3rem;
    height: 3rem;
}

.button:hover {
    cursor: pointer;
}

.info_content {
    width: 23%;
    height: 100%;
    margin-right: 1rem;
}

.info_content>img {
    width: 100%;
    height: 70%;
}

.small_info {
    background-color: #DE6490;
    color: white;
    width: 40%;
    text-align: center;
    font-size: small;
    padding: 1px;
    margin: 2px 0;
}

.small_event {
    background-color: #f3ac72;
    color: white;
    width: 40%;
    text-align: center;
    font-size: small;
    padding: 1px;
    margin: 2px 0;
}

.small_content {
    font-size: small;
    overflow: hidden;
    height: 15%;
}

.date {
    text-align: right;
    font-size: smaller;
    font-weight: 100;
}

.x_content {
    animation: info_content 1s forwards;
}

@keyframes info_content {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 16px));
    }
}



.Infomation a {
    color: red;
    border: 2px solid pink;
    background-color: white;
    padding: 6px;
    display: block;
    margin: 20px 0 auto auto;
    text-align: center;
    font-size: medium;
    width: 18%;
}

.info_heading {
    margin: 0 0 20px 0;
}

.info_heading img {
    width: 40%;
    height: 2px;
    margin-top: 1.7%;
}

.info_heading h1 {
    width: 20%;
    font-size: x-large;
    text-align: center;
}

/* ---------------------------------------- */


.find_heading {
    width: 70%;
    margin: 0 0 20px auto;
}

.find_heading img {
    width: 40%;
    height: 2px;
    margin-top: 1.7%;
}

.find_heading h1 {
    width: 20%;
    font-size: x-large;
    text-align: center;
}

/* 横スクロール */
@keyframes infinity-scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.scroll-infinity__wrap {
    display: flex;
    overflow: hidden;
    max-height: 30rem;
}

.scroll-infinity__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    /* マージンをリセット */
}

.scroll-infinity__list>.scroll-infinity__item {
    height: 100%;
    width: auto;
    margin: 0;
    /* マージンをリセット */
}

.scroll-infinity__list--left {
    animation: infinity-scroll-left 40s infinite linear 0.5s both;
}

.scroll-infinity__item {
    width: calc(100vw / 3);
    /* 幅を調整 */
}

.items_123 {
    width: calc(100vw / 3.25);
    display: flex;
    flex-wrap: wrap;
}

.items1,
.items2 {
    height: 50%;
}

.items3 {
    height: 50%;
}

.items_45 {
    width: calc(100vw / 6.5);
}

.items4,
.items5 {
    height: 50%;
}

.items_678 {
    width: calc(100vw / 3);
    margin-right: -45vw;
}

.items6 {
    height: 50%;
    width: auto;
}

.items_78 {
    height: 50%;
}

.items7,
.items8 {
    height: 100%;
}

.h-100 {
    height: 100%;
    width: auto;
}

/* ------------------------- */
.scroll-infinity__wrap img {
    padding: 5px;
}

.items-wrap {
    flex-wrap: wrap;
}

/* マウスがホバーしたらストップする */
.scroll-infinity__wrap:hover .scroll-infinity__list--left {
    animation-play-state: paused;
}

/* ------------------------------------------------------- */


.box {
    margin: 2rem 0 auto auto;
}

.kinds {
    background-image: url("../img/top/bg-content.png");
    width: 52.5rem;
    height: 44rem;
    margin: 5rem 0 auto auto;
    background-size: 100% auto;
}

.kinds h1 {
    font-size: 2rem;
}

.kinds h2 {
    font-size: 1.2rem;
}

.kinds a {
    border: 1.5px solid #DE6490;
    border-radius: 10px;
    color: #DE6490;
    padding: 5px 13px;
    font-size: 14px;
}

.kinds a:hover {
    background-color: #DE6490;
    color: white;
}

.experience {
    margin-top: 1.9rem;
}

.experience h2 {
    display: inline-flex;
}

.e_l {
    margin-top: 0.5rem;
    margin-left: 0.6rem;
    width: 8.5rem;
    height: 8.5rem;
}

.e_r {
    width: 10rem;
    margin-left: 4.5rem;
    position: relative;
    bottom: 1.3rem;
}

.wrap {
    width: 15rem;
    display: flex;
    flex-wrap: wrap;
}

.wrap img {
    width: 6rem;
    height: 6rem;
    margin: 0.2rem;
}

.e_text {
    width: 9rem;
    margin-left: -1rem;
    margin-top: 1rem;
}

.e_text p {
    font-size: 0.7rem;
}

.e_text div {
    margin-top: 2rem;
}

.food,
.hotel {
    margin-left: 1rem;
}

.f_text {
    width: 11rem;
    margin: 2rem 0 auto 1rem;
}

.f_text p {
    font-size: 0.7rem;
}

.f_text div {
    margin-top: 2rem;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
}

.food {
    margin-left: 2rem;
}

.f_l {
    width: 15rem;
    height: 15rem;
    position: relative;
    bottom: 3rem;
}

.f_r {
    position: relative;
    bottom: 2rem;
    left: 3rem;
    width: 8rem;
    height: 8rem;
}

.w_l {
    width: 10rem;
    height: 7.5rem;
}

.w_text {
    width: 11.5rem;
    margin-left: 1rem;
    margin-top: 2.5rem;
}

.w_text p {
    font-size: 0.7rem;
}

.w_text div {
    margin-top: 2rem;
}

.hotel {
    margin-left: 3rem;
    position: relative;
    bottom: 5rem;
}

.h_r {
    width: 10rem;
    height: auto;
    margin-left: 3.7rem;
}

.h_l {
    width: 14rem;
    height: auto;
    position: relative;
    bottom: 1.8rem;
}

.h_text {
    margin-top: 3rem;
    margin-left: 1.3rem;
}

.h_text p {
    font-size: 0.7rem;
}

.h_text div {
    margin-top: 4rem;
}


/* 後々の追記 */
.info {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    /* 均等にスペースを取る */
    flex-wrap: wrap;
    /* アイテムが折り返される */
    overflow: hidden;
    /* 横スクロールバーを隠す */
}

.info_content {
    width: 23%;
    /* 各お知らせの幅 */
    height: auto;
    margin-bottom: 1rem;
    /* 下に余白を追加 */
}

.info_content>img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    /* 画像のアスペクト比を保つ */
}

.small_info {
    background-color: #DE6490;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 2px 0;
}

.small_content {
    font-size: small;
}

.date {
    text-align: right;
    font-size: smaller;
}

/* アイテムが少なくても崩れないように */
/* #seed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
    margin-top: 1rem;
} */